<head>
<style type="text/css">
body {background-color:33CC33;background-image:url(http://);background-repeat:no-repeat;background-position:top left;background-attachment:fixed;}
h1{text-align:right;font-family:Impact;letter-spacing:5px;color:FFFFFF;background-color:33CC00;}
p {font-family:Cursive;font-size:14px;font-style:normal;font-weight:normal;color:000000;}
</style>
</head>
<body>
<h1>RehJun</h1>
</body>
</html>

